footer {
  background: #ECECEC;
  width: 100%;
  height: auto;
  img{
    margin: 50px 0px;
    width: 100%;
    max-width: 30vw;
  }

  ul {
    margin-top: 50px;
  }

  li{
    list-style: none;
    font-family: 'Raleway', sans-serif;
  }

}
